//配置scss全局变量
//左侧导航栏
$base_nav_left: 300px;
//顶部导航栏
$base_nav_top: 100px;
//logo高度
$logo_height: 70px;
//logo图片高度
$logo_image_height: 40px;
//logo图片宽度
$logo_image_width: 40px;
//logo字体大小
$logo_font_size: 28px;
//logo字体颜色
$logo_font_color: white;
